/* * {
  border: 1px solid #23b815;
} */
nav {
  background: gray;
  margin: auto;
  border: 1px solid #c1c1c1;
}
nav ul {
  margin: 0em;
  list-style: none;
}
nav li {
  display: flex;
  flex-direction: column;
  padding: 0 .5em;
}
img {
  height: 125px;
  max-width: 175px;
}
.flex-basics {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: space-around;
}
aside {
  min-width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}